
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

* {
  font-family : 'Nanum Gothic';
}

.big-text-header {
  text-align : center;
  font-size: 50px;
  padding-top: 10px;
  color:white;
}

.searchbar-container {
  height:45px;
  display:flex;
  margin-left:25px;
  margin-right:25px;
  margin-bottom:20px;
}

.searchbar-element{
  color:black;
  align-items: stretch;
  justify-content: stretch;
  border-radius:10px; 
  flex:0.8;
  margin-right: 10px;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
}

.button-element{
  border-radius: 2px;
  background-color: black;
  color: #e0e0e0;
  font-size: 20px;
  border-radius:10px; 
  flex:0.2;
  border: 0px;
  align-items: stretch;

}


.container {
  display:flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color:green;
}

.container.header{
  justify-content: center;
}

.flex-container {
  display:flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.wrap { 
  flex-wrap: wrap;
}

.chip-container {
  display:flex;
  flex-direction: row;
  background-color:white	;
  padding:8px;
  margin-right: 10px;
  margin-bottom: 10px;
  justify-content: right;
  align-items: center;
  border-radius:20px;
}

.chip-container-x{
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:10px;
  background-color: #C0C0C0;
  width:20px;
  height:20px;
  margin-left: 5px;
  color:white;
  font-size: 10px;

}

.chip-container:hover {
  background-color: #808080;
}

.chip-container-x:hover{
  background-color: #D3D3D3	;
}

body{
  width:500px;
  background-color: #3262c5;
}


